@model StJohnEPAD.Models.Duty

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Duty</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DutyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DutyName)
    </div>



    <div class="editor-label">
        @Html.LabelFor(model => model.DutyOrganiserEmailAddress)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DutyOrganiserEmailAddress)
        @Html.ValidationMessageFor(model => model.DutyOrganiserEmailAddress)
    </div>



    <div class="display-label">
         @Html.DisplayNameFor(model => model.DutyDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DutyDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DutyStartTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DutyStartTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DutyEndTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DutyEndTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DutyLocation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DutyLocation, new { ID = "dutyLocation" })
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DutyDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DutyDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DutyAdditionalNotes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DutyAdditionalNotes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DutyOrganiser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DutyOrganiser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DutyOrganiserPhoneNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DutyOrganiserPhoneNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DutyOrganiserEmailAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DutyOrganiserEmailAddress)
    </div>
</fieldset>
<p>
    @{
        if (User.IsInRole("DutyAdmin") || User.IsInRole("Administrator"))
        {
            <text> @Html.ActionLink("Edit", "Edit", new { id=Model.DutyID })</text>
            <text>| @Html.ActionLink("Delete", "Delete", new { id=Model.DutyID }) |</text>
        }
    }
    @Html.ActionLink("Back to List", "Index")
</p>

<!-- TODO: https://developers.google.com/maps/documentation/javascript/examples/geocoding-simple -->
@section scripts{
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyCFtrl1tSnMrosRz_rSADUQVjWPSi4EiUY"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            initialiseMap();
        });

        function initialiseMap()
        {
            
            var latlng = new google.maps.LatLng(54.536014, -5.908548);
            var myOptions = {
                zoom: 15,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map"), myOptions);

            var marker = new google.maps.Marker
            (
                {
                    position: new google.maps.LatLng(54.536014, -5.908548),
                    map: map,
                    title: 'Details'
                }
            );

            var infoWindow = new google.maps.InfoWindow({
                content: 'Hello'
            });
            google.maps.event.addListener(marker, 'click', function () {
                infoWindow.open(map, marker);
            });

            //var address = "Jim Baker Stadium, Antrim";
            var address = '@Model.DutyLocation';
            //map_status.innerText = String(document.getElementById("dutyLocation").innerText);

            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });

                }
                else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
            });
        }


    </script>
}

    <div id="map_status" />
    <div id="map" style="width: 320px; height: 240px;" />  