@model StJohnEPAD.Models.Duty

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<aside>
    <div id="map_status" />
    <div id="map" style="width: 320px; height: 240px; border:solid; border-color:black; visibility:hidden" />
    <div id="map_alerts" />  
</aside>

<fieldset>
    <legend>Duty</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DutyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DutyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DutyDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DutyDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DutyStartTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DutyStartTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DutyEndTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DutyEndTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DutyLocation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DutyLocation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DutyDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DutyDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DutyAdditionalNotes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DutyAdditionalNotes)
    </div>

    <div class="display-label">
         My Availability
    </div>
    <div class="display-field">
        <form method="post">
            <select name="MyAvailability">
                @{
                    if(ViewBag.UserAvailability == "Available")
                    {
                        //Fallbock incase JQuery fails (likely!)
                        <option value="@StJohnEPAD.Models.DutyResponseValue.Available" selected="selected">Available</option>
                        <option value="@StJohnEPAD.Models.DutyResponseValue.Unavailable">Unavailable</option>
                    }
                    else
                    {
                        <option value="@StJohnEPAD.Models.DutyResponseValue.Available">Available</option>
                        <option value="@StJohnEPAD.Models.DutyResponseValue.Unavailable" selected="selected">Unavailable</option>
                    }
                }
            </select>
            <input type="submit" value="Change" />
        </form>   
    </div>

    @if (User.IsInRole("Administrator") || User.IsInRole("DutyAdmin"))
    {
        <p><b>Restricted information:</b></p>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.DutyOrganiser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DutyOrganiser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DutyOrganiserPhoneNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DutyOrganiserPhoneNumber)
    </div>
        
        <p>
            @Html.ActionLink("Post Duty Report", "Details", "DutyReport", new { id = Model.DutyID }, null)
        </p>
    }
</fieldset>
<p>
    @{
        if (User.IsInRole("DutyAdmin") || User.IsInRole("Administrator"))
        {
            <text> @Html.ActionLink("Edit", "Edit", new { id = Model.DutyID })</text>
            <text>| @Html.ActionLink("Delete", "Delete", new { id = Model.DutyID }) |</text>
        }
    }
    @Html.ActionLink("Back to List", "Index")
</p>
@{
    if (User.IsInRole("DutyAdmin") || User.IsInRole("Administrator"))
    {
        <h2 id="SignupsHeader">Duty Signups</h2>
        <p></p>
        <fieldset id="SignupsFieldset" style="border-style:dashed; display:none">
        <legend>Records</legend>
        @if (Model.DutySignups != null)
        { 
            <table id="Signups">
                <thead>
                    <tr>
                        <th>Member</th>
                        <th>Role</th>
                        <th>Response</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DutySignups)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(x => item.UserProfile.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.UserProfile.CurrentRole)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.DutyAvailabilityResponse)
                            </td>
                        </tr> 
                    }
                </tbody>

            </table> 
        }
    </fieldset>

            
    }
}

<!-- TODO: https://developers.google.com/maps/documentation/javascript/examples/geocoding-simple -->
@section scripts{
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyCFtrl1tSnMrosRz_rSADUQVjWPSi4EiUY"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //Oonly process the map if DutyLocation is "truthy"
            if('@Model.DutyLocation')
                initialiseMap();
        });

        function initialiseMap()
        {
            
            var latlng = new google.maps.LatLng(54.536014, -5.908548);
            var myOptions = {
                zoom: 15,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map"), myOptions);

            var marker = new google.maps.Marker
            (
                {
                    position: new google.maps.LatLng(54.536014, -5.908548),
                    map: map,
                    title: 'Details'
                }
            );

            var infoWindow = new google.maps.InfoWindow({
                content: 'Hello'
            });
            google.maps.event.addListener(marker, 'click', function () {
                infoWindow.open(map, marker);
            });

            //var address = "Jim Baker Stadium, Antrim";
            var address = '@Model.DutyLocation';

            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });

                }
                else {
                    document.getElementById("map_alerts").innerHTML = "Geocode was not successful for the following reason: " + status;
                }
            });
            document.getElementById("map").style.visibility = 'visible';
        }


    </script>

    <!-- Datatables Copyright (c) 2008-2013 SpryMedia Limited
    http://datatables.net -->

    <link href="@Url.Content("~/Content/themes/base/minified/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
    <!--<script type="text/javascript" src="~/Scripts/jquery.dataTables.js"></script>-->
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#Signups').dataTable(
                {
                    paging: true,
                    searching: true,
                });
        });
    </script>
    <script>
        $('#SignupsHeader').click(function () {
            $('#SignupsFieldset').slideToggle('fast');
        });
    </script>
}
