@model IEnumerable<StJohnEPAD.Models.Duty>

@{
    ViewBag.Title = "Duties";
}
<div class="StJohnHeader">
    <h1>@ViewBag.Title.</h1>
</div>

@if (User.IsInRole("Administrator") || User.IsInRole("DutyAdmin"))
{
    <h4>Administrator controls</h4>
    <p>@Html.ActionLink("Create New", "Create")</p>
    if (ViewBag.ViewCurrentOrAllLink.Equals("currentMode"))
    {
        <p>@Html.ActionLink("View all", "Index", "Duty", new { viewAll = "true" }, null)</p>
    }
    else
    {
        <p>@Html.ActionLink("View outstanding", "Index", "Duty", new { viewAll = "false" }, null)</p>
    }
}

<table id="DutyList">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DutyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DutyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DutyStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DutyEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DutyDescription)
            </th>
            @if (ViewBag.ViewCurrentOrAllLink.Equals("currentMode"))
            { 
                <th>Availability</th>
            }

            @{
                if (User.IsInRole("DutyAdmin") || User.IsInRole("Administrator"))
                {
                    <th>Admin</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.DutyName, "Details", new { id = item.DutyID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DutyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DutyStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DutyEndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DutyDescription)
                </td>
                @if (ViewBag.ViewCurrentOrAllLink.Equals("currentMode"))
                {
                    //todo: fix this
                    var response = item.DutySignups.Where(x => x.UserId == WebSecurity.CurrentUserId && x.DutyID == item.DutyID).FirstOrDefault();
                    StJohnEPAD.Models.DutyResponseValue? value = response.DutyAvailabilityResponse;
                    switch (value)
                    {
                        case (StJohnEPAD.Models.DutyResponseValue.NoResponse):
                            <td>No response</td>
                            break;
                        case (StJohnEPAD.Models.DutyResponseValue.Available):
                            <td>Available</td>
                            break;
                        case (StJohnEPAD.Models.DutyResponseValue.Unavailable):
                            <td>Unavailable</td>
                            break;
                        default:
                            <td>No response</td>
                            break;
                    }

                }
                @{
                    if (User.IsInRole("DutyAdmin") || User.IsInRole("Administrator"))
                    {
                                <td>
                                 @Html.ActionLink("Edit", "Edit", new { id = item.DutyID })
                                | @Html.ActionLink("Delete", "Delete", new { id = item.DutyID })
                                </td>
                    }
                }
            </tr>
        
        }
    </tbody>
</table>

@section scripts{
    <!-- Datatables Copyright (c) 2008-2013 SpryMedia Limited
    http://datatables.net -->

    <link href="@Url.Content("~/Content/themes/base/minified/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
    <!--<script type="text/javascript" src="~/Scripts/jquery.dataTables.js"></script>-->
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready( function() {
            $('#DutyList').dataTable(
                {
                    paging: true,
                    searching: true,
                });
        } );
    </script>
    }
