@model IEnumerable<StJohnEPAD.Models.Document>

@{
    ViewBag.Title = "Documents";
}

<h2 class="StJohnHeader">@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="DocumentList">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocumentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentValidFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentNextReview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentVersion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentRestricted)
        </th>
        <th>
            Download
        </th>
        <th>Admin</th>
    </tr>
        </thead>
    <tbody>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.DocumentName, "Details", new { id = item.DocumentID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentValidFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentNextReview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentVersion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentRestricted)
        </td>
        <td>
            <a href="@item.DocumentLocation/@item.DocumentGUID">Download</a>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DocumentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DocumentID })
        </td>
    </tr>
}
        </tbody>
</table>

@section scripts{
    <!-- Datatables Copyright (c) 2008-2013 SpryMedia Limited
    http://datatables.net -->

    <link href="@Url.Content("~/Content/themes/base/minified/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
    <!--<script type="text/javascript" src="~/Scripts/jquery.dataTables.js"></script>-->
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready( function() {
            $('#DocumentList').dataTable(
                {
                    paging: true,
                    searching: true,
                    "aaSorting": []
                });
        } );
    </script>
    }

